<script id="albumlist_template" type="text/x-handlebars-template">
	{{#each rows}}
	<tr class="albumlist_row" data-rowid={{{rowid}}}>
		{{#each albums}}
	  <td class="album_item" data-colid={{{colid}}} data-albumid="{{{id}}}">
	    <div class="album_item_thumbnail_container">
	      <img class="album_item_thumbnail" src="{{{thumbnail}}}"><br />
	    </div>
	    <div class="album_item_text">
	      <div class="album_item_artist">{{{artist}}}</div>
	      <div class="album_item_title">{{{title}}}</div>
	    </div>
	  </td>
	  {{/each}}
	</tr>
	{{/each}}
</script>

<div id="tagcloud_container">
	<div id="tagcloud"></div>
</div>
<div id="letterbar">
	<span class="letterbar_letter" data-letter="123">123</span>
	<% ('A'..'Z').each do |letter| %>
		<span class="letterbar_letter" data-letter="<%= letter %>"><%= letter %></span>
	<% end %>
</div>
<table id="albumlist" tabindex="1"></table>
