/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.dialog
 */

html {
  height:100%;
}

body {
  height:100%;
	font-size:100%;
	margin:0;
	padding:0;
}

footer {
	/*margin-top: 20px;*/
	text-align: center;
}

#frame {
  height:95%;
	position:relative;
	overflow: hidden;
}

#framecontainer {
  -webkit-transition: left 1s ease-in-out;
  height:100%;
	position:absolute;
	top:0;
	left:0;
}

.page {
	overflow: hidden;
	width:960px;
	height:850px;
	float:left;
	position: relative;
	margin-top: 60px;
	margin-right: 50px;
	margin-left: 50px;

	background-color: #DDDDDD;
	padding: 15px;
	border-radius: 10px;
	box-shadow: inset 0 0 17px #888;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

#recreate_confirm {
	display: none;
}

#recreation_overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	opacity: 0.8;
	background-color: #BBB;
	text-align: center;
}

#recreation_overlay_text {
	font-size: 200%;
	margin-top: 400px;
}

.scroll-pane {
	box-shadow: 0 0 3px 3px #777;
	margin: 20px;
	padding: 1px;
}