/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require base
 *= require layout
 *= require skeleton
 *= require jquery.ui.dialog
 *= require_self
 *= require_tree .
 */

body {
	-webkit-user-select: none;
	margin-bottom: 5em;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;	
}

footer a.navi_link {
	color: #fff;
	text-decoration: none;
}

footer .controls button {
	float: left;
	margin-bottom: 0;
}

#recreate_confirm {
	display: none;
}

#recreation_overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	opacity: 0.8;
	background-color: #BBB;
	text-align: center;
}

#recreation_overlay_text {
	font-size: 200%;
	top: 50%;
}
