/*
 *= require delete_button
 */

#playlist_menu {
	/*margin-left: 20px;*/
	height: 20px;
	width: 100%;
}

#playlist_scrollpane {
	height: 785px;
	outline: none;
}

#playlist {
	outline: none;
	padding: 10px;
	width: 98%;
}

.playlist_item {
	width: 100%;
	margin-bottom: 10px;
	outline: 3px groove #ffffff;
	overflow: hidden;
}

.playlist_item:last-child {
	margin-bottom: 0;
}

.playlist_item:nth-child(even) {
  background-color: #bdcdb4;
}

.playlist_item:nth-child(odd) { 
  background-color: #cdbdb4;
}

.playlist_item_album_container {
	width: 100%;
	position: relative;
}

.playlist_item_album {
	margin: 10px;
}

.playlist_item_album_thumbnail {
	float: left;
	outline: 3px groove #ffffff;
	width: 92px;
	height: 92px;
}

.playlist_item_album_info {
	margin-left: 2em;
	float: left;
	width: 700px;
}

.playlist_item_album_info_title {
	font-size: 150%;
}

.playlist_item_album_info_title span {
	font-weight: 700;
}

.playlist_item_album_info_artist {
	font-size: 120%;
}

.playlist_item_delete_button {
	float: right;
	width: 2em;
	height: 2em;
	cursor: pointer;
}

.playlist_item_tracks_container {
	padding-top: 5px;
	clear: both;
	width: 100%;
}

.playlist_item_tracks {
	margin: 10px;
	text-align: left;
	font-size: 60%;
	font-weight: 700;
}

.playlist_item_tracks_cd {
	outline: 3px groove #ffffff;
	padding: 5px;
	margin-bottom: 10px;
}

.playlist_item_tracks_item {
  overflow: hidden;
	font-size: 120%;
	position: relative;

	cursor: pointer;

  -webkit-animation-duration: 200ms;
  -webkit-animation-timing-function: linear;
}

.playlist_item:nth-child(even) .playlist_item_tracks_item.playlist_item_tracks_item_selected {
	background-color: #424;
	color: #dfd;
}

.playlist_item:nth-child(odd) .playlist_item_tracks_item.playlist_item_tracks_item_selected {
	background-color: #244;
	color: #dfd;
}

.playlist_item:nth-child(even) .playlist_item_tracks_item:not(.playlist_item_tracks_item_selected):hover {
	background-color: #cdbdb4;
	-webkit-transition: background-color;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 300ms;
}

.playlist_item:nth-child(odd) .playlist_item_tracks_item:not(.playlist_item_tracks_item_selected):hover {
	background-color: #bdcdb4;
	-webkit-transition: background-color;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 300ms;
}


@-webkit-keyframes playlist_item_tracks_activated {
	0% { margin-left: 0; }
	50% { margin-left: -20px; }
	100% { margin-left: 0; }
}


.playlist_item_tracks_item_number {
	float: left;
	width: 50px;
	padding-right: 5px;
	text-align: right;
	font-weight: bold;
	background-color: rgba(100, 100, 100, 0.4);
}

.playlist_item_tracks_item.playlist_item_tracks_item_playling .playlist_item_tracks_item_number {
	background-color: black;
	color: white;
	-webkit-transition: background-color;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
}

.playlist_item_tracks_item_name {
	float: left;
	margin-left: 15px;
}

.playlist_item_tracks_item_qpos {
	position: absolute;
	margin-left: 0.5em;
	font-weight: bold;
}

.playlist_item_tracks_item_by {
	color: #333;
	font-weight: 400;
}	

.playlist_item_tracks_item.playlist_item_tracks_item_playling .playlist_item_tracks_item_qpos {
	color: white;
}

.playlist_item_tracks_item:not(.playlist_item_tracks_item_playling) .playlist_item_tracks_item_qpos {
	color: black;
}
