<div id="playlist_container">
	<div id="playlist_menu">
		<%= link_to "Clear", { :controller => "playlist", :action => "delete" }, :remote => true %>
	</div>
	<div id="playlist_scrollpane" class="scroll-pane">
		<div id="playlist"></div>
	</div>
</div>