<div class="page" data-page="0">
	<%= render :partial => "player/index" %>
</div>

<div class="page" data-page="1">
	<%= render :partial => "playlist/index" %>
</div>

<div class="page" data-page="2">
	<%= render :partial => "medialib/index" %>
</div>
