<div class="page" data-page="0">
	<%= render :partial => "player/page" %>
</div>

<div class="page" data-page="1">
	<%= render :partial => "playlist/page" %>
</div>

<div class="page" data-page="2">
	<%= render :partial => "medialib/page" %>
</div>
