<!DOCTYPE html>
<html>
<head>
  <title>Rmp3view</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="frame">
<div id="framecontainer">

	<%= yield %>

</div>
</div>

<footer>
	<a href="#" id="recreate_overlay_show">Re-create media database.</a>
</footer>

<div id="recreate_confirm" title="Re-create the media database?">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		Re-creating the media database will take a while. Are you sure?
	</p>
</div>

<div id="recreation_overlay">
	<h1 id="recreation_overlay_text">Re-creating the media database...</h1>
</div>

</body>
</html>
